@if (Request.IsAuthenticated)
{
	<text>
	Logged in as @Html.ActionLink(User.Identity.Name
						, "Manage"
						, "Account"
						, routeValues: null
						, htmlAttributes: new { @class = "username", title = "Manage" }).

	<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

   @using (Html.BeginForm("LogOff"
						, "Account"
						, FormMethod.Post
						, new { id = "logoutForm", @class = "navbar-form pull-right" }))
	 {
		 @Html.AntiForgeryToken()
		 
	 }
	</text>
	 return;
}

@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
&nbsp;or&nbsp;
@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
